
#feedback_button_style {
    position:fixed;
    top:40%;
    background-repeat:no-repeat;
    background-position:50% 50%;
    cursor:pointer;
}

#feedback_button_style a {
    display:none;
}

#feedback_button_style.white {
    background-color:#AAA;
    border:1px solid #999;
}

#feedback_button_style.black {
    background-color:white;
    border:1px solid #333;
}

#feedback_button_style.small {
    height:100px;
    width:15px;
    margin-top:-50px;
}

#feedback_button_style.normal {
    height:150px;
    width:25px;
    margin-top:-75px;
}

#feedback_button_style.left {
    left:0;
    border-left:none;
}

#feedback_button_style.right {
    right:0;
    border-right:none;
}

#feedback_button_style.white.left.normal {
    background-image:url(images/feedback_wl.png);
}
#feedback_button_style.white.left.small {
    background-image:url(images/feedback_wl_sm.png);
}
#feedback_button_style.white.right.normal {
    background-image:url(images/feedback_wr.png);
}
#feedback_button_style.white.right.small {
    background-image:url(images/feedback_wr_sm.png);
}

#feedback_button_style.black.left.normal {
    background-image:url(images/feedback_bl.png);
}
#feedback_button_style.black.left.small {
    background-image:url(images/feedback_bl_sm.png);
}
#feedback_button_style.black.right.normal {
    background-image:url(images/feedback_br.png);
}
#feedback_button_style.black.right.small {
    background-image:url(images/feedback_br_sm.png);
}

div.hiding {
    display:none;
}

#feedback_drop {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:black;
    opacity:.7;
    z-index: 10000;
}

#feedback_popup {
    width:250px;
    min-height:210px;
    position:absolute;
    left:0px;
    right:0px;
    margin:auto;
    background-color:white;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    overflow:visible;
    z-index: 10001;
}

#feedback_popup.thanks {
    font-size: 14px;
    font-weight: bold;
    min-height: 10px;
    padding: 10px;
}

#feedback_popup .thanks {
    display:none;
}

#feedback_popup.thanks .thanks {
    display:block;
}

#feedback_popup.thanks form {
    display:none;
}

#feedback_popup form {
    height:100%;
    left:10px;
    right:10px;
    padding:10px;
}

#feedback_popup .error {
    background-color:red;
}

#feedback_popup .close {
    position:absolute;
    top:-18px;
    right:-18px;
    width:32px;
    height:32px;
    background-image:url(images/close_med.png);
    z-index:10;
    cursor:pointer;
}

/** form stuff **/
#feedback_popup label {
    font-size:.8em;
    color:#555;
    display:block;
}

#feedback_popup textarea {
    min-height:70px;
    width:221px;
}

#feedback_popup input {
    width:223px;
}
